@import "../../../scss/variables";
@import "../../../scss/mixins";
@import '../../../scss/responsive';

.personels {
    &__wrapper {
        @include container();
        position: relative;
        z-index: 1;

        &:after {
            content: url('../../../images/dots.png');
            position: absolute;
            top: -20px;
            left: 8px;
            @include rwd(1300) {
                top: -20px;
                left: -35px;
            }
        }
    }

    &__columns {
        @include flex();
        flex-wrap: nowrap;
        justify-content: space-between;

        &-col1 {
            max-width: 473px;
        }

        &-col2 {
            max-width: 635px;
            padding-left: 30px;
            .name {
                font-size: 20px;
                line-height: 27px;
                font-weight: 500;
                color: #072753;
                margin-bottom: 12px;
            }

            .position {
                font-size: 15px;
                line-height: 30px;
                margin-bottom: 30px;
                color: #072753;
            }

            p {
                font-size: 17px;
                color: #072753;
            }

            .slider_nav {
                margin-top: 30px;
                button {
                    background-color: transparent;
                    border: none;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

    }
}